<app-new-students-principal
  *ngIf="action === 'NEW'"
></app-new-students-principal>
<app-edit-students-principal
  *ngIf="action === 'EDIT'"
></app-edit-students-principal>
<app-view-students-principal
  *ngIf="action === 'VIEW'"
></app-view-students-principal>
<div class="flex mt-5" *ngIf="action === 'LIST'">
  <div
    class="text-sm md:text-base fixed bottom-5 w-full justify-center flex items-center space-x-2"
  >
    <button
      (click)="decPage()"
      [disabled]="page == 0"
      [class.page-0]="page == 0"
      class="border border-gray-400 p-1 rounded-md"
    >
      <fa-icon [icon]="faArrowLeft"></fa-icon> Prev
    </button>
    <p>
      Showing {{ page + 1 }} of
      <span *ngIf="studentsCount === 0">1</span>
      <span *ngIf="studentsCount !== 0">{{ maxPage }}</span>
    </p>
    <button
      (click)="incPage()"
      [disabled]="page == maxPage - 1 || studentsCount === 0"
      [class.page-last]="page == maxPage - 1 || studentsCount === 0"
      class="border border-gray-500 p-1 rounded-md"
    >
      Next <fa-icon [icon]="faArrowRight"></fa-icon>
    </button>
  </div>
  <div class="fixed bottom-3 right-3 md:right-5">
    <button
      (click)="newStudent()"
      class="bg-blue-500 text-center text-white px-4 py-3 rounded-full z-50"
    >
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </div>
  <app-sidebar [current]="'Students'" [role]="'Principal'"></app-sidebar>
  <div class="px-2 md:px-6 flex-1">
    <h1 class="text-2xl md:text-3xl font-bold">Students</h1>
    <div class="mt-10">
      <div
        class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-2"
      >
        <input
          [(ngModel)]="search"
          type="text"
          placeholder="Search any student..."
          class="focus:border-blue-500 flex-1 shadow-md transition duration-300 ease-in outline-none px-5 py-2 w-full md:w-[70%] mx-auto border border-gray-400 rounded-md"
        />
        <button
          (click)="loadStudents()"
          class="flex-1 bg-blue-500 rounded-md px-3 py-2 text-white shadow-md"
        >
          Search
        </button>
      </div>
      <div class="mt-5">
        <div class="mb-2 rounded-md bg-gray-200 text-gray-600 px-5 py-4">
          <h2>FULL NAME - EMAIL - CLASS</h2>
        </div>
        <div
          *ngFor="let student of students; let i = index"
          [attr.data-index]="i"
          [class.odd]="i % 2 === 1"
          class="cursor-pointer hover:bg-gray-100 rounded-md text-gray-600 px-5 items-center flex mb-2"
        >
          <div (click)="viewStudentPage(student.id)" class="flex-1 py-4">
            <h2 class="text-black text-lg font-bold">
              {{ student.name }}
            </h2>
            <div class="flex space-x-2">
              <h4 class="text-sm">{{ student.email }}</h4>
              <h4 class="text-sm">
                {{ student.subjectClasses[0].class.className }}
              </h4>
            </div>
          </div>
          <div class="">
            <fa-icon
              [icon]="faTrash"
              (click)="deleteStudent(student.id)"
              class="hover:text-red-500"
            ></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
