<div class="flex mt-5">
  <app-sidebar [current]="'Exams'" [role]="'Student'"></app-sidebar>
  <div class="px-2 md:px-6 flex-1">
    <h1 class="text-2xl md:text-3xl font-bold">
      {{ exam?.name }} {{ exam?.rescheduled ? " (rescheduled)" : "" }}
    </h1>

    <div class="mt-5">
      <div class="flex flex-col">
        <h2 class="text-xl md:text-2xl font-bold">Student Details</h2>
        <p>
          Name: <span class="font-semibold">{{ user?.name }}</span>
        </p>
        <p>
          Class:
          <span class="font-semibold">
            {{ exam?.subjectClass?.class?.className }}
          </span>
        </p>
        <p>
          Subject:
          <span class="font-semibold">
            {{ exam?.subjectClass?.subject?.name }}
          </span>
        </p>
        <p>
          Term:
          <span class="font-semibold">
            {{ exam?.term?.startYear }}/{{ exam?.term?.endYear }} Term
            {{ exam?.term?.term }}
          </span>
        </p>
      </div>
      <div class="mt-5" *ngIf="result">
        <h1 class="font-bold text-lg">
          Score: {{ result.marks }} / {{ exam?.questions?.length }}
        </h1>
        <div class="space-y-2">
          <div
            *ngFor="let q of exam?.questions; let i = index"
            [attr.data-index]="i"
          >
            <div
              *ngIf="findCQ(q.id)"
              class="flex flex-col space-y-2 rounded-md border-green-400 p-2 border-2"
            >
              <p>
                <span class="font-semibold">{{ i + 1 }}.</span>
                {{ q.question }}
              </p>
              <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                <div
                  [class.option-correct]="findCQForOption(q.id, 'A')"
                  class="w-full border-blue-400 border px-3 py-1 rounded"
                >
                  <input
                    defaultChecked
                    type="radio"
                    class="hidden"
                    name="subjectClass"
                  />
                  <span>{{ q.optionA }}</span>
                </div>
                <div
                  [class.option-correct]="findCQForOption(q.id, 'B')"
                  class="w-full border-blue-400 border px-3 py-1 rounded"
                >
                  <input
                    defaultChecked
                    type="radio"
                    class="hidden"
                    name="subjectClass"
                  />
                  <span>{{ q.optionB }}</span>
                </div>
                <div
                  [class.option-correct]="findCQForOption(q.id, 'C')"
                  class="w-full border-blue-400 border px-3 py-1 rounded"
                >
                  <input
                    defaultChecked
                    type="radio"
                    class="hidden"
                    name="subjectClass"
                  />
                  <span>{{ q.optionC }}</span>
                </div>
                <div
                  [class.option-correct]="findCQForOption(q.id, 'D')"
                  class="w-full border-blue-400 border px-3 py-1 rounded"
                >
                  <input
                    defaultChecked
                    type="radio"
                    class="hidden"
                    name="subjectClass"
                  />
                  <span>{{ q.optionD }}</span>
                </div>
              </div>
            </div>
            <div
              *ngIf="!findCQ(q.id)"
              class="flex flex-col space-y-2 rounded-md border-red-400 p-2 border-2"
            >
              <p>
                <span class="font-semibold">{{ i + 1 }}.</span>
                {{ q.question }}
              </p>
              <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                <div
                  [class.option-incorrect]="findICQForOption(q.id, 'A')"
                  [class.option-correct]="q.correctOption === 'A'"
                  class="w-full border-blue-400 border px-3 py-1 rounded"
                >
                  <input
                    defaultChecked
                    type="radio"
                    class="hidden"
                    name="subjectClass"
                  />
                  <span>{{ q.optionA }}</span>
                </div>
                <div
                  [class.option-incorrect]="findICQForOption(q.id, 'B')"
                  [class.option-correct]="q.correctOption === 'B'"
                  class="w-full border-blue-400 border px-3 py-1 rounded"
                >
                  <input
                    defaultChecked
                    type="radio"
                    class="hidden"
                    name="subjectClass"
                  />
                  <span>{{ q.optionB }}</span>
                </div>
                <div
                  [class.option-incorrect]="findICQForOption(q.id, 'C')"
                  [class.option-correct]="q.correctOption === 'C'"
                  class="w-full border-blue-400 border px-3 py-1 rounded"
                >
                  <input
                    defaultChecked
                    type="radio"
                    class="hidden"
                    name="subjectClass"
                  />
                  <span>{{ q.optionC }}</span>
                </div>
                <div
                  [class.option-incorrect]="findICQForOption(q.id, 'D')"
                  [class.option-correct]="q.correctOption === 'D'"
                  class="w-full border-blue-400 border px-3 py-1 rounded"
                >
                  <input
                    defaultChecked
                    type="radio"
                    class="hidden"
                    name="subjectClass"
                  />
                  <span>{{ q.optionD }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5" *ngIf="!result">
        <h1 class="font-bold text-lg">You did not take this exam</h1>
      </div>
    </div>
  </div>
</div>
