<div class="flex mt-5">
  <div class="fixed bottom-3 right-3 md:right-5">
    <button
      (click)="editTeacherPage()"
      class="bg-blue-500 text-center text-white px-4 py-3 rounded-full z-50"
    >
      <fa-icon [icon]="faPen"></fa-icon>
    </button>
  </div>
  <app-sidebar [current]="'Teachers'" [role]="'Principal'"></app-sidebar>
  <div class="px-2 md:px-6 flex-1">
    <a routerLink="/dashboard" (click)="toTeacherList()">
      <button class="flex space-x-2 font-bold items-center">
        <fa-icon [icon]="faArrowLeft"></fa-icon>
        <span>Back to teachers</span>
      </button>
    </a>
    <div class="mt-5">
      <h1 class="font-bold text-xl md:text-2xl">Teacher Details</h1>
      <div class="space-y-10 mt-3">
        <div class="space-y-5">
          <div class="">
            <span class="font-semibold">Name</span>
            <p class="bg-gray-300 px-5 py-2 w-full mx-auto border-gray-400">
              {{ currentTeacher?.name }}
            </p>
          </div>
          <div class="">
            <span class="font-semibold">Email</span>
            <p class="bg-gray-300 px-5 py-2 w-full mx-auto border-gray-400">
              {{ currentTeacher?.email }}
            </p>
          </div>
          <div>
            <span class="text-lg font-semibold">Subject Classes</span>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-y-3 md:gap-x-2">
              <div
                *ngFor="let s of currentTeacher?.subjectClasses"
                class="bg-blue-400 text-white w-full border-blue-400 border px-3 py-1 rounded"
              >
                <span> {{ s.class.className }} {{ s.subject.name }} </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
